  <h1>Sinatra Blog</h1>
  <h2>Posts</h2>

  <table>
    <tr>
      <th>Post ID |</th>
      
      <th>Post Title</th>
    </tr>
    <tbody>
        <tr>
          <% @posts.each do |post| %>
          <td><%= post.updated_at %></td>
        </tr>
          <td><%= post.id %></td><br>
          <td><a href='/post/<%=post.id%>'> <%= post.title %> </a></td>
          <br>
        </tr>
          <td>
            <form action='/post/<%=post.id%>/edit' method="POST">
              <input type="submit" value="Edit Post">
            </form>
            <form action="/post/add" method="POST">
              <input type="submit" value="Add Post">
            </form>
          </td>
      <% end %>
    </tbody>
  </table>
  
